/* take full page height
TODO: I don't like this hack
----------------------------- */
body > div,
body > div > div,
body > div > div > div.full-page {
  height: 100%;
}

/* fix semantic-ui fixed menu hides following content
----------------------------- */
.ui.fixed.menu + .below-fixed-menu {
  margin-top: 46px;
}
