/* -- circular avatar images -- */
.large-avatar img {
  width: 160px;
  height: 160px;
  max-width: 160px;
  max-height: 160px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.medium-avatar img {
  width: 120px;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.small-avatar img {
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* self defined style */
.vertical-centered {
  display: flex;
  align-items: center;
}

.carousel-container {
  margin-top: 60px;
}

.carousel-item-container {
  padding: 0 4px;
}

.main-join-container {
  margin-top: 60px;
  display: block;
  width: 100%;
  position: relative;
  background-image: url("/images/placeholder-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media (max-width: 480px) {
  .carousel-container {
    margin-top: 20px;
  }

  .carousel-item-container {
    padding: 0 0;
  }

  .main-join-container {
    margin-top: 20px;
  }
}

/* profile page header */

.profile-header {
  text-align: center;
}

.profile-header .profile-header-bg {
  background: url("https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?auto=format&fit=crop&w=1280&q=60");
  background-size: cover;
  background-color: #333;
  height: 320px;
}

.profile-header .profile-header-carousel-image {
  background-color: #333;
  height: 320px;
  cursor: pointer;
}

.profile-header #avatar {
  position: relative;
  top: -60px;
  display: inline;
}

.profile-header .profile-header-info {
  padding-top: 8px;
  margin-top: -60px;
}

.profile-header .profile-header-info .title {
  font-size: 28px;
}

.profile-header .profile-header-info .desc {
  font-size: 17px;
  color: #888;
}

/* -- portfolio photo grid -- */
.portfolio-photo {
  margin-bottom: 2rem;
}

.portfolio-photo img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: 0.35s all;
}

.portfolio-photo #delete-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  opacity: 0;
  transition: 0.35s all;
}

.portfolio-photo:hover img {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.portfolio-photo:hover #delete-button {
  opacity: 1;
}

@media (max-width: 1024px) {
  .portfolio-photo #delete-button {
    opacity: 1;
  }
}

/* --- booking side --- */
.booking ul {
  list-style: none;
  margin: 0;
  font-size: 1rem;
}

/* services style */
.booking ul li {
  width: 100%;
  font-weight: 600;
  color: #888;
  transition: 0.2s;
  cursor: default;
}

.booking ul li:hover {
  color: #444;
}

.booking ul li span {
  float: right;
  font-weight: 400;
}

.booking ul li ul {
  margin-bottom: 1rem;
}

/* addons style */
.booking ul li ul {
  padding-left: 1rem;
}

.booking ul li ul li {
  padding-top: 0.5rem;
}

/* total style */
.booking ul li.total-cost {
  font-size: 1.5rem;
  border-top: 1px solid #e8e8e8;
  padding-top: 18px;
  margin-top: 18px;
}

.booking ul li.total-cost span {
  font-weight: 600;
  color: #66676b;
}

.booking ul li .delete {
  font-size: 0.75rem;
  cursor: pointer;
  padding: 0.25rem;
  margin-right: 0.25rem;
}

.booking ul li .delete:hover {
  color: #fff;
  background: #db2828;
  border-radius: 3px;
}
