/* self defined style */
.vertical-centered {
  display: flex;
  align-items: center;
}

.carousel-container {
  margin-top: 60px;
}

.carousel-item-container {
  padding: 0 4px;
}

.main-join-container {
  margin-top: 60px;
  display: block;
  width: 100%;
  position: relative;
  background-image: url("/images/placeholder-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media (max-width: 480px) {
  .carousel-container {
    margin-top: 20px;
  }

  .carousel-item-container {
    padding: 0 0;
  }

  .main-join-container {
    margin-top: 20px;
  }
}

/* profile page header */

.profile-header {
  text-align: center;
}

.profile-header .profile-header-bg {
  background: url("https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?auto=format&fit=crop&w=1280&q=60");
  background-size: cover;
  background-color: #333;
  height: 300px;
}

.profile-header .profile-header-avatar {
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}

.profile-header .profile-header-avatar img {
  width: 160px;
  height: 160px;
  max-width: 160px;
  max-height: 160px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.profile-header .profile-header-info {
  padding-top: 8px;
}

.profile-header .profile-header-info .title {
  font-size: 28px;
}

.profile-header .profile-header-info .desc {
  font-size: 17px;
  color: #888;
}
