.ui.search .prompt {
  border-radius: 0.28571429rem;
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
  cursor: pointer;
  background: none;
  color: #00aca4;
}

.search .results {
  overflow-y: auto;
  max-height: 300px;
}

/*Override Semantic-UI inactive rating star color */
.ui.star.rating .icon {
  color: rgb(168, 168, 168);
}
